@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "fira";
  src: url("/fonts/fira-sans.regular.ttf");
}

body {
  background-color: #151537;
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gradient-text {
  font-size: 60px;
  background: linear-gradient(to right, #FFD49D, #5CC7FD);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

p {
  color: white;
  font-family: "fira";
}
